:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #02594c;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}
